/*style*/
#title{
    padding: 2% 0%;
    background-color: rgba(20, 48, 173, 0.774);
    color: rgb(234, 183, 247);
    height: 10%;
}

#home{
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition-duration: 0.2s;
}

body{
    margin: 0px;
    height: 100%;
    background-color: whitesmoke;
}

.navbar{
    background-color: rgb(48, 33, 189) !important;
}

#home:hover{
    color: rgb(194, 151, 223);
    transition-duration: 0.2s;
}

.nav-link{
    color:white !important;
    transition-duration: 0.2s;
}

.nav-link:hover{
    color:rgb(194, 151, 223) !important;
    transition-duration: 0.2s;
}

#form{
    width: 60%;  
    margin-bottom: 5%;
}

.container{
    background-color: white;
    margin-top: 3%;
    border: solid 2px silver;
    border-radius: 15px; 
    padding: 1.5%;
}

#phoneHelp{
    font-size: 80%;
    color: grey;
    padding-top: -50px;
}

#formSubmit{
    width: 40%;
}

footer{
    background-color: black;
    color: white;
    padding: 0.5% 0px;
}

#footer{
    position: relative;
    background-color: rgba(20, 48, 173, 0.774);
    color: rgb(234, 183, 247);
    width: 100%;
    text-align: center; 
    margin-left: -2px;
    margin-bottom: 0px;
    margin-top: 10%;
}

.alert1{
    width: 80%;
    margin:auto;
    margin-top: 1%;
    z-index: 0;
}

h3{
    text-align: center;
    margin-bottom: 2%;
}

#arrow{
    position: fixed;   
    float: right;
    bottom: 5%;
    right: 2%;
    opacity: 0.3;
    transition-duration: 0.5s;
    color: rgb(63, 62, 62);
}

#arrow:hover{
    opacity: 1;
    transition-duration: 0.5s;
}

.moveMenuButton{
    margin-right: 10px;
    background-color: rgb(134, 110, 78);
    border: none;
}

h2{
    text-align: center;
    margin-top: 1%;
    margin-bottom: -1%;
}

.underline{position:relative;
    text-decoration:none;
    display:inline-block;
} 
    
.underline:after{
    display:block;
    content: '';
    border-bottom: solid 3px rgb(187, 226, 15);  
    transform: scaleX(0);  
    transition: transform 400ms ease-in-out;
    transform-origin:100% 50%;
}
.underline:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
}

#loginForm{
    border: solid 2px silver;
    width: 25%;
    position: fixed;
    background-color: white;
    padding: 2%;
    border-radius: 15px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%) ;
    display: none;
    z-index: 1;
}

#closeButton{
    float:right;
    margin-top: -5%;
}

#loginFade{
    color: blue;
    text-decoration: underline;
}

#loginFade:hover{
    cursor: pointer;
    color: #88029a;
}

.loggedUserWhiteText{
    color: #e86eb1;
    margin-left: 10px;
}

.log-out-toRight{
    border: none;
    background-color: rgb(48, 33, 189) !important;
    float:right;
    margin-top: 5px;
    color: #e86eb1;
}

.log-out-toRight:hover{
    cursor: pointer;
    color:yellow;
}

.boldRight{
color: #09deb4;
}

