{# page informations #}
{% extends "BasicTemplate.twig" %}

{# alerts #}
{% block alerts %}
    <div class="alert alert-info alert-dismissible fade show alert1">
        <strong>Informace - </strong> 5.01.2022 se uskuteční v arealu zču v Plzni konference na téma <strong>Internet
            věcí.</strong> Všichni jsou srdečně zváni.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show alert1" class="alert">
        <strong>Upozornění!</strong> 20.07.2022 dojde k výpadku stránky z důvodu údržby. Děkujeme za pochopení.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
{% endblock %}

{# information #}
{% block information %}

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam erat volutpat. Morbi scelerisque luctus
    velit.
    Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a
    lectus. Sed
    ac dolor sit amet purus malesuada congue. Phasellus et lorem id felis nonummy placerat. Aenean fermentum
    risus id
    tortor. Aliquam erat volutpat. Mauris elementum mauris vitae tortor. Aliquam ornare wisi eu metus.
    Curabitur
    bibendum justo non orci. Nulla non arcu lacinia neque faucibus fringilla. Nam sed tellus id magna
    elementum
    tincidunt. Duis pulvinar. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip
    ex ea
    commodo consequat. Curabitur vitae diam non enim vestibulum interdum. Cras elementum. Etiam ligula pede,
    sagittis
    quis, interdum ultricies, scelerisque eu. Vivamus porttitor turpis ac leo.</p>

<p>Aenean fermentum risus id tortor. Curabitur vitae diam non enim vestibulum interdum. Class aptent taciti
    sociosqu
    ad litora torquent per conubia nostra, per inceptos hymenaeos. Proin mattis lacinia justo. Integer
    malesuada. Cras
    elementum. Duis condimentum augue id magna semper rutrum. Et harum quidem rerum facilis est et expedita
    distinctio. Suspendisse sagittis ultrices augue. Cras pede libero, dapibus nec, pretium sit amet, tempor
    quis.
    Quisque tincidunt scelerisque libero. Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Sed
    elit
    dui,
    pellentesque a, faucibus vel, interdum nec, diam. Nam sed tellus id magna elementum tincidunt. Quisque
    porta.
    Integer malesuada. Vivamus luctus egestas leo. Etiam commodo dui eget wisi.</p>

<p>Nam quis nulla. Fusce suscipit libero eget elit. Duis viverra diam non justo. Proin mattis lacinia justo.
    Aliquam
    erat volutpat. Donec quis nibh at felis congue commodo. Praesent dapibus. Et harum quidem rerum facilis
    est
    et
    expedita distinctio. Vivamus porttitor turpis ac leo. Proin mattis lacinia justo. Aenean fermentum risus
    id
    tortor. Maecenas libero. Vivamus luctus egestas leo. Fusce consectetuer risus a nunc. Sed ac dolor sit
    amet
    purus
    malesuada congue. Fusce tellus.</p>

<p>Aliquam erat volutpat. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Cum sociis
    natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Itaque earum rerum hic tenetur a
    sapiente
    delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
    repellat.
    Mauris tincidunt sem sed arcu. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique
    tellus,
    nec
    bibendum odio risus sit amet ante. Nam sed tellus id magna elementum tincidunt. Etiam sapien elit,
    consequat
    eget,
    tristique non, venenatis quis, ante. Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam.
    Nam
    libero
    tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
    facere
    possimus, omnis voluptas assumenda est, omnis dolor repellendus. Aliquam ante. Aliquam erat volutpat.
    Aenean
    placerat. Etiam posuere lacus quis dolor.</p>

{% endblock %}