{# page with users articles #}

{% extends "BasicTemplate.twig" %}

{# myArticles #}
{% block myArticles %}
    {# vlastní články si může zobrazit pouze autor #}
    {% if user.id_pravo == 4 %}
        <button type="button" class="btn btn-success fa fa-plus-circle" id="addNewArticle"> Přidat nový článek</button>
        <div class="mx-auto" id="newArticleDiv">
            <button type="button" class="btn-close float-end" aria-label="Close" id="closeNewArticleDiv"></button><br>
            <h4>Nový článek</h4>
            <form>
                <div class="mb-3 col-md-3 col-sm-12">
                    <label for="Nadpis" class="form-label">Nadpis</label>
                    <input type="text" class="form-control" id="Nadpis" placeholder="Nadpis" required>
                </div>
            </form>
            <label for="editor" class="form-label">Obsah</label>
            <div id="editor"></div><br>
            <label for="fileChooser" class="form-label">Připojit soubor (.pdf)</label>
            <div class="mb-3">
                <div class="mb-3 col-md-4 col-sm-12">
                    <input type="file" class="form-control" aria-label="fileChooser" accept="application/pdf" required>
                </div>
            </div>
            <div class="row mx-auto w-25" >
                <button type="submit" class="btn btn-success">Uložit</button>
            </div>

        </div>
        {# prochazime všechny uzivatelovo clanky #}
        {% for article in userArticles %}
            <div class="card mx-auto articles">
                <div class="card-header articlesHeader">
                    {{ article.datum }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ article.nadpis }}</h5>
                    <p class="card-text">{{ article.obsah }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {# vracíme na stránku informací #}
        <script> location.replace("index.php?page=informations"); </script>
    {% endif %}
{% endblock %}