{# page with all articles #}

{% extends "BasicTemplate.twig" %}

{# articles #}
{% block articles%}
    {% for article in allArticles %}
        <div class="card mx-auto articles">
            <div class="card-body">
                <h5 class="card-title">{{ article.nadpis }}</h5>
                <p class="card-text">{{ article.obsah }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}