{# login form #}
<div id="loginForm">
    <form method="post" autocomplete="on">
        <button type="button" class="btn-close" aria-label="Close" id="closeButton"></button>
        <!--Username-->
        <h3>Přihlášení</h3>
        <label for="username" class="form-label">Uživatelská přezdívka:</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-username"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" name="login" id="login" aria-describedby="username"
                   placeholder="přezdívka" required>
        </div>
        <!--password-->
        <label for="password" class="form-label">Heslo:</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-password"><i class="fa fa-lock"></i></span>
            <input type="password" name="password" class="input form-control" id="password"
                   placeholder="password" required="true" aria-label="password"
                   aria-describedby="basic-addon1"/>
            <span class="input-group-text" onmousedown="password_show_hide();"
                  onmouseup="password_show_hide();">
                    <i class="fa fa-eye-slash" id="show_eye"></i>
                    <i class="fa fa-eye d-none" id="hide_eye"></i>
            </span>
        </div>
        <p>Zapomněli jste své heslo? <a href="index.php?page=forgotPassword">Obnovte si ho zde</a></p>
        <button type="submit" name="action" value="login" class="btn btn-primary">Přihlásit se</button>
        <br><br>
        Nemáte ještě účet? <a href="index.php?page=registration">Zaregistrujte se zde</a>
    </form>
</div>