{# page reset password #}
{% extends "BasicTemplate.twig" %}

{# resetPassword #}
{% block resetPassword %}
    {% if user == null %}
        <form method="post" class="w-75 mx-auto">
            <label for="password" class="form-label">Nové heslo:</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-password"><i class="fa fa-lock"></i></span>
                <input name="password" type="password" value="" class="input form-control" id="passwordRegistration"
                       placeholder="password" aria-label="password"
                       aria-describedby="basic-addon1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Heslo Musí obsahovat alespoň jedno číslo, jedno malé písmeno, jedno velké písmeno a musí být 8 znaků dlouhé!" required>
                <span class="input-group-text" onmousedown="password_show_hide2();" onmouseup="password_show_hide2();" >
                                  <i class="fa fa-eye-slash" id="show_eye2"></i>
                                  <i class="fa fa-eye d-none" id="hide_eye2"></i>
                                </span>
            </div>
            <label for="password2" class="form-label">Zopakujte heslo:</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-password2"><i class="fa fa-lock"></i></span>
                <input type="password" name="password2" class="form-control" id="password2" aria-describedby="password2"
                       placeholder="password" onkeyup="comparePasswords()" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Heslo usí obsahovat alespoň jedno číslo, jedno malé písmeno, jedno velké písmeno a musí být 8 znaků dlouhé!" required>
            </div>
            <div id="message">
                <h5>Heslo musí obsahovat:</h5>
                <p id="letter" class="invalid"><b>Malé</b> písmeno</p>
                <p id="capital" class="invalid"><b>Velké </b>písmeno</p>
                <p id="number" class="invalid"><b>Číslo</b></p>
                <p id="length" class="invalid">Minimálně <b>8 znaků</b></p>
                <div id="password-text" class="invalid">Hesla se neshodují!</div>
            </div>
            <div class="row mx-auto">
                <input type="submit" class="btn btn-success mt-3 w-50  mx-auto" name="action" id="registrationID" value="createNewPassword">
            </div>
        </form>
    {% else %}
        {# vracíme na stránku informací #}
        <script> location.replace("index.php?page=informations"); </script>
    {% endif %}
{% endblock %}

{# my scripts #}
{% block myJS %}
    <script src="app/Views/js/login-registration.js"></script>
    <script src="app/Views/js/resetPassword.js"></script>
{% endblock %}