{# page for user who forgot password #}
{% extends "BasicTemplate.twig" %}

{# forgotPassword #}
{% block forgotPassword %}
    {% if user == null %}
        {% if checkCode == null %}
            <form method="post" autocomplete="off">
                <label for="email" class="form-label d-flex justify-content-center"><h5>Zadejte svůj email: </h5></label>
                <div class="input-group mb-3 w-50 mx-auto">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input id="email" type="email" class="form-control" name="mail" placeholder="email" aria-label="Username" aria-describedby="basic-addon1" required>
                </div>
                <div id="email-text"></div>
                <div class="row mx-auto">
                    <button type="submit" id="sendPass" class="btn btn-success w-25 mx-auto" name="action" value="sendMail">Poslat kód na email</button>
                </div>
            </form>
        {% else %}
            <form method="post">
                <div class="row g-4 align-items-center w-50 d-flex justify-content-center mx-auto">
                    <div class="col-md-3 col-sm-12">
                        <input type="number" class="form-control float-end" placeholder="5" value="5" name="num1" aria-label="num1" aria-describedby="basic-addon1" min="0" max="9">
                    </div>
                    <div class="col-md-3 col-sm-12" >
                        <input type="number" class="form-control float-end" placeholder="5" value="5" name="num2" aria-label="num2" aria-describedby="basic-addon1" min="0" max="9">
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <input type="number" class="form-control float-end" placeholder="5" value="5" name="num3" aria-label="num3" aria-describedby="basic-addon1" min="0" max="9">
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <input type="number" class="form-control float-end" placeholder="5" value="5" name="num4" aria-label="num4" aria-describedby="basic-addon1" min="0" max="9">
                    </div>
                </div>
                <div class="row mx-auto">
                    <button type="submit" id="checkNum" class="btn btn-success w-25 mx-auto mt-5" name="action" value="validation">Zkontrolovat kód</button>
                </div>
            </form>
        {% endif %}
    {% else %}
        {# vracíme na stránku informací #}
        <script> location.replace("index.php?page=informations"); </script>
    {% endif %}
{% endblock %}

{# my scripts #}
{% block myJS %}
    <script src="app/Views/js/login-registration.js"></script>
    <script>
        let input = document.getElementById("email");
        let btnSubmit = document.getElementById("sendPass");
        btnSubmit.disabled = true;
        btnSubmit.style.marginTop = "1.5%";
        document.getElementById("email").onkeyup = function (){
            let mailformat = /[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-z]{2,4}$/;
            let mailText = $("#email-text");
            let inputVal =  input.value;

            mailText.empty();
            mailText.css("margin-top", "-1%");
            mailText.css("text-align", "center");

            if (mailformat.test(inputVal)) {
                mailText.css("color", "green");
                mailText.append("Email je vpořádku!");
                btnSubmit.disabled = false;
            }
            else{
                mailText.css("color", "red");
                mailText.append("Email nemá správný formát!");
                btnSubmit.disabled = true;
            }
        }
    </script>
{% endblock %}